extend header

form(action="/" method="POST")
        input(type="text"
            placeholder="Username")
        input(
            type="password"
            placeholder="Password")
        button(type="submit" value="Login")
        p No Account?
          a(href="/register") Register